In [1]:
import duckdb

%load_ext sql

In [2]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [3]:
%sql duckdb:///cicids2018.duckdb

In [4]:
%sql CREATE TABLE sampled AS FROM '../datasets/sampled.csv';

Empty DataFrame
Columns: [Success]
Index: []

In [5]:
%sql SELECT * FROM sampled;

                                      column0
0                                     Flow ID
1      172.31.67.31-52.89.179.237-52141-443-6
2         172.31.64.92-172.31.0.2-64124-53-17
3         172.31.66.56-172.31.0.2-61951-53-17
4         172.31.66.74-172.31.0.2-50228-53-17
...                                       ...
20582     13.58.98.64-172.31.69.25-37088-22-6
20583     13.58.98.64-172.31.69.25-42270-22-6
20584     13.58.98.64-172.31.69.25-59852-22-6
20585     13.58.98.64-172.31.69.25-59480-22-6
20586     13.58.98.64-172.31.69.25-60122-22-6

[20587 rows x 1 columns]

In [7]:
%sql COPY (SELECT * EXCLUDE (id,"Flow ID","Src IP","Src Port","Dst IP","Dst Port",Timestamp) FROM read_csv_auto("../datasets/CSECICIDS2018_improved/*.csv") WHERE "Flow ID" IN (SELECT * FROM sampled)) TO '../datasets/CSECICIDS2018_improved.parquet' (FORMAT PARQUET)

Empty DataFrame
Columns: [Success]
Index: []