In [1]:
import duckdb

%load_ext sql

In [2]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [3]:
%sql duckdb:///cicids2017.duckdb

In [4]:
# %sql CREATE TABLE sampled AS FROM '../datasets/sampled-2017.csv';

Running query in 'duckdb:///cicids2017.duckdb'

+-------+
| Count |
+-------+
+-------+

In [4]:
%sql SELECT * FROM sampled;

                                       column0
0                                      Flow ID
1       192.168.10.51-192.168.10.3-26677-53-17
2       192.168.10.16-52.203.233.2-59644-443-6
3      192.168.10.17-172.217.6.230-39014-443-6
4       192.168.10.16-192.168.10.3-41741-53-17
...                                        ...
20638      172.16.0.1-192.168.10.50-56651-80-6
20639      172.16.0.1-192.168.10.50-54497-80-6
20640      172.16.0.1-192.168.10.50-56009-80-6
20641      172.16.0.1-192.168.10.50-53523-80-6
20642      172.16.0.1-192.168.10.50-59937-80-6

[20643 rows x 1 columns]

In [13]:
%sql COPY (SELECT * EXCLUDE (id,"Flow ID","Src IP","Src Port","Dst IP","Dst Port",Timestamp) FROM read_csv_auto("../datasets/CICIDS2017_improved/*.csv") WHERE "Flow ID" IN (SELECT * FROM sampled)) TO '../datasets/CICIDS2017_improved.parquet' (FORMAT PARQUET)

Empty DataFrame
Columns: [Success]
Index: []